.product-page-container {
	display: flex;
	width: 61%;
	/* justify-content: space-around; */
	flex-wrap: wrap;
	margin: 10px 0 0 31%;
	font-family: Montserrat, sans-serif;
}
.product-card-container {
	height: 400px;
	/* width: 16%; */
	flex: 0 0 18.04%;
	margin-right: 1.2%;
	margin-top: 10px;
	transition: all 0.3s;
}
.product-card-container .product-avt {
	height: 72%;
	width: 100%;
}

.product-card-container .product-name {
	width: 100%;
	font-size: 14px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.43;
	letter-spacing: normal;
	color: #202124;
	margin: 5px 0 5px 0;
}
.product-card-container .product-price {
	width: 100%;
	height: 22px;
	font-size: 15px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.83;
	letter-spacing: normal;
	color: #4d4d4d;
}

.filter-value {
	text-align: center;
	margin-top: 3%;
	width: 100%;
	height: 22px;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.57;
	letter-spacing: normal;
	text-align: center;
	color: #4d4d4d;
}

.product-filter-container {
	position: absolute;
	left: 13%;
	top: 30%;
	width: 200px;
}

.product-filter-container
	.category-content-container
	.category-detail {
	list-style-type: none;
	margin-bottom: 18px;
}

.product-filter-container .filter-title {
	width: 77px;
	height: 24px;
	font-size: 20px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: normal;
	color: #202124;
	margin-bottom: 29px;
}
.product-filter-container
	.category-content-container
	.category-detail
	button {
	background: none;
	border: none;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.57;
	letter-spacing: normal;
	color: #202124;
	transition: all 0.3s;
}

.product-filter-container
	.category-content-container
	.category-detail
	button:hover {
	color: #ff6900;
}

.product-filter-container
	.category-content-container
	.category-detail
	button:focus {
	color: #ff6900;
	outline: none;
	border: none;
}

.product-filter-container
	.category-content-container
	.category-detail
	button
	span {
	border-bottom: 1px solid #979797;
	padding-bottom: 10px;
}

.product-filter-container
	.category-content-container
	.category-detail:last-child {
	padding-bottom: 62px;
}
.product-filter-container
	.category-content-container {
	margin-bottom: 80px;
	border-bottom: solid 1px #979797;
}

.product-filter-container
	.filter-content-container
	.filter-detail {
	list-style-type: none;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.57;
	letter-spacing: -0.1px;
	color: #4d4d4d;
	border-bottom: solid 1px;
	padding-bottom: 15px;
	margin-bottom: 10px;
}
.product-filter-container
	.filter-content-container
	.filter-detail
	.filter-holder {
	display: flex;
	justify-content: space-between;
}
.product-filter-container
	.filter-content-container
	.filter-detail
	.selector-container {
	display: flex;
	display: none;
	transition: all 0.3s;
}
.product-filter-container
	.filter-content-container
	.filter-detail
	.selector-container
	.box-selector-holder {
	width: 40px;
	height: 40px;
	border: solid 1px #808080;
	margin-right: 10px;
	background: none;
}
.product-filter-container
	.filter-content-container
	.filter-detail
	.selector-container
	.box-selector-holder:hover {
	background: #ffa15f;
	color: white;
	font-weight: 800;
}

.product-card-container:hover {
	transform: scale(1.1);
}

.product-filter-container
	.filter-content-container
	.filter-detail
	.price-slider {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 18px 0;
	width: 100%;
}
.product-filter-container
	.filter-content-container
	.filter-detail
	.price-slider:focus {
	outline: none;
}

.product-filter-container
	.filter-content-container
	.filter-detail
	.price-slider::-webkit-slider-runnable-track {
	width: 100%;
	height: 3px;
	cursor: pointer;
	background: #ffa15f;
	border-radius: 1.3px;
}

.product-filter-container
	.filter-content-container
	.filter-detail
	.price-slider::-webkit-slider-thumb {
	height: 20px;
	width: 20px;
	border-radius: 20px;
	background: #ffa15f;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -10px;
}

.product-filter-container
	.filter-content-container
	.filter-detail
	.price-text-holder {
	display: flex;
	justify-content: space-between;
}
