.status-holder {
	display: flex;
	cursor: pointer;
}
.change-order-status {
	border: none;
	font-size: 12px;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	line-height: 1;
	letter-spacing: normal;
	color: #3d3d3f;
}
