.product-in-cart-color {
	width: 50px;
	position: relative;
}
.wrapper {
	position: absolute;
}
.wrapped-product-color {
	top: -18px;
	left: -8px;
}
.selector-quantity-in-cart {
	position: relative;
}
.wrapped-quantity-selector {
	top: -16px;
	left: -10px;
}
.product-in-cart-size {
	position: relative;
}
.wrapped-product-size {
	top: -10px;
	left: 10px;
}
.product-in-cart-price {
	position: relative;
}
.wrapped-product-price {
	top: -13px;
	left: 13px;
}
.wrapped-remove-btn {
	left: 50px;
	bottom: 0;
}
.product-in-cart-profile {
	position: relative;
}
.product-btn {
	border: none;
	font-size: 12px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.83;
	letter-spacing: normal;
	color: #202124;
}

.disabled-color {
	border-color: white;
}
.disabled-color:hover {
	border-color: white;
}
