.thumbnail-container {
	margin: 2.8% 0 0 13%;
	width: 72vw;
	height: 60vh;
	background: url('static/imports/ui/assets/image/thumbnail_background.jpg')
		no-repeat;
	background-size: fixed;
	/* background-position: -150px -150px; */
	background-position: center;
	position: relative;
	z-index: 0;
}

.thumbnail-container .thumbnail-title {
	width: 545px;
	height: 45px;
	font-family: Domine;
	font-size: 48px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 0.94;
	letter-spacing: normal;
	text-align: right;
	color: white;
	position: absolute;
	top: 30px;
	right: 40px;
}

.shop-now-btn {
	width: 180px;
	height: 49px;
	background-color: #ffa15f;
	font-family: Montserrat;
	font-size: 16px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: normal;
	text-align: center;
	color: white;
	border: none;
	position: absolute;
	bottom: 30px;
	right: 40px;
}
.shop-now-btn:hover {
	background: #e6954f;
	cursor: pointer;
}

.filter-container {
	width: 72vw;
	height: 45vh;
	margin: 0.5% 0 0 13%;
	display: flex;
	justify-content: space-between;
	z-index: 0;
}
.filter-container .filter-card {
	z-index: 0;
	width: 24%;
	/* background-image: url('static/imports/ui/assets/image/filter_card_background.jpg'); */
	/* background-position: 0px -50px; */
	background-position: center;
	background-size: cover;
	position: relative;
}

.filter-container .filter-card .card-title {
	width: 76.4%;
	height: 32px;
	font-family: Domine;
	font-size: 24px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.33;
	letter-spacing: normal;
	text-align: center;
	color: white;
	position: absolute;
	bottom: 20%;
	left: 50%;
	transform: translateX(-50%);
	border-bottom: solid 1px white;
}
.filter-container .filter-card .shop-now-btn {
	height: 38px;
	position: absolute;
	left: 50%;
	bottom: 5.9%;
	transform: translateX(-50%);
}

.men {
	background-image: url('https://i.pinimg.com/564x/d9/e9/01/d9e9017802b4bc05918bcb702a676c3e.jpg');
}
.ladies {
	background-image: url('https://i.pinimg.com/564x/d3/9a/6f/d39a6f512e64c106f819dc5861fba2ca.jpg');
}
.girls {
	background-image: url('https://i.pinimg.com/564x/d3/9f/b3/d39fb3aa4feeaa5e99c69af008f7e403.jpg');
}
.boys {
	background-image: url('https://i.pinimg.com/564x/f3/0a/c4/f30ac4507346c08f8ff21540d5e51325.jpg');
}
