.radio-input {
	opacity: 0;
}
.disabled {
	color: rgba(0, 0, 0, 0.3);
	border-color: rgba(0, 0, 0, 0.3);
}
.radio-name {
	text-align: center;
	margin-top: 8px;
	margin-right: 18px;
	border: solid 1px #808080;
	display: inline-block;
	width: 25px;
	height: 25px;
	padding-top: 5px;
}
.radio-name:hover {
	background: #ffa15f;
	color: white;
	font-weight: 600;
	border-color: #ffa15f;
}
.radio-input:checked + .radio-name {
	background: #ff6900;
	color: white;
	font-weight: 600;
	border: none;
}
